<div class="row">
  <div class="col-xs-12">
    <app-alert [message]="error" *ngIf="error" (close)="OnCloseErrorAlert()"></app-alert>
    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="OnSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" class="form-control"
          ngModel
          required
          name="email"
          email>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control"
        ngModel
        required
        name="password"
        minlength="6">
      </div>
      <div>
      <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">{{isLoggingMode ? 'Login' : 'Sign Up'}}</button> | <button class="btn btn-primary" (click)="OnSwitchMode()" type="button">
        Switch To {{isLoggingMode ? 'Sign Up' : 'Login'}}</button>

      </div>
    </form>
  </div>
</div>
